<table id="tabela_movimentacoes">
	<% for movimentacao in movimentacoes %>
		<%= linha_tabela_movimentacao(movimentacao) %>
	<% end %>
</table>
<%= will_paginate movimentacoes, previous_label: h("<"), next_label: h(">") %>