<% if current_user.reserves.any? %>
	<div id="reserves_div">
	<%= render "reserves/reserves" %>
	</div>
<% end %>
<table id="tabela_movimentacoes" class="rounded_table">
	<% for movimentacao in movimentacoes %>
		<%= linha_tabela_movimentacao(movimentacao) %>
	<% end %>
</table>
<br/>
<%= will_paginate movimentacoes, previous_label: h("<"), next_label: h(">") %>